@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/ChemicalWeb.styles.css"/>
</head>
<body>

@RenderBody()
@await RenderSectionAsync("scripts", required: true)

</body>
</html>